# GUI Rendering
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u # hoveredSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot